$main-background-color: rgba(31, 34, 60);
$plate-background-color: rgba(30, 30, 51, 0.5);
$hover-background-color: rgba(96, 96, 216, 0.3);
$icon-color: rgb(54, 54, 120);
$main-text-color: white;
$add-text-color: rgba(120, 120, 229, 1);